<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>todo_list</title>
    <link rel="stylesheet",stylesheet="public/css/style.css">
</head>
<body>

  <h1><%= listHeading %></h1>
    <ul>
      <% for(let i=0;i<listItems.length;i++){ %>
            <li><%= listItems[i] %></li>
      <% } %>
    </ul>
    <form action="/" method="post">
        <input type="text" name="newItem">
        <button type="submit" name="button" value=<%= listHeading %>>go</button>
    </form>
  
</body>
</html>